.places__url {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 16px 0 0;
    display: block;
}

@media screen and (max-width: 767px) {
    .places__url {
        max-width: 720px;
        min-width: 288px;
        width: 100%;
        margin: 8px auto 0;
    }
}