.places__image {
    width: 47%;
    object-fit: contain;
    align-self: flex-start;
    margin: 60px 0 0;
}

@media screen and (max-width: 767px) {
    .places__image {
        width: 100%;
        max-width: 768px;
        min-width: 320px;
        margin-top: 32px;
    }
}