@import url("__logo/header__logo.css");
@import url("__lang/header__lang.css");
@import url("__logo/header__logo.css");

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
    max-width: 1184px;
    width: calc(100% - 96px);
    min-width: 928px;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 928px;
        width: calc(100% - 48px);
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 720px;
        width: calc(100% - 32px);
        min-width: 288px;
    }
}