.barentsburg__text {
    display: inline-block;
    width: 380px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    margin: 48px 0 0;
}

@media screen and (max-width: 767px) {
    .barentsburg__text {
        width: 100%;
        margin: 32px auto 0;
    }
}