.intro__content-row {
    display: flex;
    justify-content: flex-start;
    margin: 35px auto 0;
}

@media screen and (max-width: 1023px) {
    .intro__content-row {
        flex-direction: column-reverse;
        margin-top: 19px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__content-row {
        flex-direction: column-reverse;
        margin-top: 19px;
    }
}

@media screen and (max-width: 767px) {
    .intro__content-row {
        flex-direction: column-reverse;
        margin-top: 23px;
    }
}