.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        padding-top: 16px;
    }
}