.intro__author-date {
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
    max-width: 283px;
    margin: 0 0 0 18px;
}

@media screen and (max-width: 1023px) {
    .intro__author-date {
        margin: 0;
    }   
}