.video__subtitle {
    position: relative;
    z-index: 2;
    margin: 18px 0 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
}

@media screen and (max-width: 1023px) {
    .video__subtitle {
        margin-top: 12px;
    }
}

@media screen and (max-width: 767px) {
    .video__subtitle {
        margin-top: 8px;
    }
}