.intro__stats {
    margin: 35px 0 0;
    font-size: 13px;
    line-height: 20px;
    width: 383px;
}

@media screen and (max-width: 767px) {
    .intro__stats {
        font-size: 12px;
        line-height: 19px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 374px) {
    .intro__stats {
        margin-top: 24px;
    }
}